# -------------------------------- DNA Classification Project ---------------------------------------

## About :
### In this project, we will explore the world of bioinformatics by using Markov models, K-nearest neighbor (KNN) algorithms, support vector machines, and other common classifiers to classify short E. Coli DNA sequences. This project will use a dataset from the UCI Machine Learning Repository that has 106 DNA sequences, with 57 sequential nucleotides (“base-pairs”) each.





#### It includes :
<ul>
    <li>Importing data from the UCI repository</li>
    <li>Converting text inputs to numerical data</li>
    <li>Building and training classification algorithms</li>
    <li>Comparing and contrasting classification algorithms</li>
</ul>

In [33]:
# Hide warnings
import warnings
warnings.simplefilter('ignore')

## Step 1: Importing the Dataset

The following code cells will import necessary libraries and import the dataset from the UCI repository as a Pandas DataFrame

In [1]:
import sys
import numpy
import sklearn
import pandas

print('Python: {}'.format(sys.version))
print('Numpy: {}'.format(numpy.__version__))
print('Sklearn: {}'.format(sklearn.__version__))
print('Pandas: {}'.format(pandas.__version__))

Python: 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]
Numpy: 1.16.4
Sklearn: 0.21.2
Pandas: 0.24.2

In [2]:
# Importing, changing module names
import numpy as np
import pandas as pd

# importing the uci Molecular Biology (Promoter Gene Sequences) Data Set
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/molecular-biology/promoter-gene-sequences/promoters.data'
names = ['Class', 'id', 'Sequence']
data = pd.read_csv(url, names = names)

In [3]:
data.columns

Index(['Class', 'id', 'Sequence'], dtype='object')

In [4]:
data.head()

  Class         id                                           Sequence
0     +        S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +       AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +       AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +      DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
4     +  LEU1_TRNA  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...

In [5]:
data.shape

(106, 3)

In [6]:
data.dtypes

Class       object
id          object
Sequence    object
dtype: object

## Step 2: Preprocessing the Dataset

The data is not in a usable form; as a result, we will need to process it before using it to train our algorithms.

In [7]:
# Build our dataset using custom pandas dataframe
# Each column in a DataFrame is called a Series. Lets start by making a series for each column.

classes = data.loc[:,'Class']
classes.head()

0    +
1    +
2    +
3    +
4    +
Name: Class, dtype: object

In [8]:
# generate list of DNA sequence
sequence = list(data.loc[:, 'Sequence'])
sequence

['\t\ttactagcaatacgcttgcgttcggtggttaagtatgtataatgcgcgggcttgtcgt',
 '\t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaatctaacgcatcgccaa',
 '\t\tgtactagagaactagtgcattagcttatttttttgttatcatgctaaccacccggcg',
 '\taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaatactaacaaactc',
 '\ttcgataattaactattgacgaaaagctgaaaaccactagaatgcgcctccgtggtag',
 '\taggggcaaggaggatggaaagaggttgccgtataaagaaactagagtccgtttaggt',
 '\t\tcagggggtggaggatttaagccatctcctgatgacgcatagtcagcccatcatgaat',
 '\t\ttttctacaaaacacttgatactgtatgagcatacagtataattgcttcaacagaaca',
 '\t\tcgacttaatatactgcgacaggacgtccgttctgtgtaaatcgcaatgaaatggttt',
 '\tttttaaatttcctcttgtcaggccggaataactccctataatgcgccaccactgaca',
 '\tgcaaaaataaatgcttgactctgtagcgggaaggcgtattatgcacaccccgcgccg',
 '\tcctgaaattcagggttgactctgaaagaggaaagcgtaatatacgccacctcgcgac',
 '\tgatcaaaaaaatacttgtgcaaaaaattgggatccctataatgcgcctccgttgaga',
 '\tctgcaatttttctattgcggcctgcggagaactccctataatgcgcctccatcgaca',
 '\ttttatatttttcgcttgtcaggccggaataactccctataatgcgccaccactgaca',
 '\taagcaaagaaatgcttgactctgtagcgggaaggcgtattatgcacaccgccgcgcc',
 '\tatgcatttttccgcttgtcttcctgagccgactccctataatgcgcctccatcgaca',
 '\t\taaacaatttcagaatagacaaaaactctgagtgtaataatgtagcctcgtgtcttgc',
 '\t\ttctcaacgtaacactttacagcggcgcgtcatttgatatgatgcgccccgcttcccg',
 '\t\tgcaaataatcaatgtggacttttctgccgtgattatagacacttttgttacgcgttt',
 '\t\tgacaccatcgaatggcgcaaaacctttcgcggtatggcatgatagcgcccggaagag',
 '\t\taaaaacgtcatcgcttgcattagaaaggtttctggccgaccttataaccattaatta',
 '\t\ttctgaaatgagctgttgacaattaatcatcgaactagttaactagtacgcaagttca',
 '\taccggaagaaaaccgtgacattttaacacgtttgttacaaggtaaaggcgacgccgc',
 '\t\taaattaaaattttattgacttaggtcactaaatactttaaccaatataggcatagcg',
 '\t\tttgtcataatcgacttgtaaaccaaattgaaaagatttaggtttacaagtctacacc',
 '\t\tcatcctcgcaccagtcgacgacggtttacgctttacgtatagtggcgacaatttttt',
 '\ttccagtataatttgttggcataattaagtacgacgagtaaaattacatacctgcccg',
 '\tacagttatccactattcctgtggataaccatgtgtattagagttagaaaacacgagg',
 '\t\ttgtgcagtttatggttccaaaatcgccttttgctgtatatactcacagcataactgt',
 '\tctgttgttcagtttttgagttgtgtataacccctcattctgatcccagcttatacgg',
 '\tattacaaaaagtgctttctgaactgaacaaaaaagagtaaagttagtcgcgtagggt',
 '\tatgcgcaacgcggggtgacaagggcgcgcaaaccctctatactgcgcgccgaagctg',
 '\t\ttaaaaaactaacagttgtcagcctgtcccgcttataagatcatacgccgttatacgt',
 '\t\tatgcaattttttagttgcatgaactcgcatgtctccatagaatgcgcgctacttgat',
 '\tccttgaaaaagaggttgacgctgcaaggctctatacgcataatgcgccccgcaacgc',
 '\t\ttcgttgtatatttcttgacaccttttcggcatcgccctaaaattcggcgtcctcata',
 '\t\tccgtttattttttctacccatatccttgaagcggtgttataatgccgcgccctcgat',
 '\t\tttcgcatatttttcttgcaaagttgggttgagctggctagattagccagccaatctt',
 '\t\ttgtaaactaatgcctttacgtgggcggtgattttgtctacaatcttacccccacgta',
 '\tgatcgcacgatctgtatacttatttgagtaaattaacccacgatcccagccattctt',
 '\t\taacgcatacggtattttaccttcccagtcaagaaaacttatcttattcccacttttc',
 '\tttagcggatcctacctgacgctttttatcgcaactctctactgtttctccatacccg',
 '\t\tgccttctccaaaacgtgttttttgttgttaattcggtgtagacttgtaaacctaaat',
 '\tcagaaacgttttattcgaacatcgatctcgtcttgtgttagaattctaacatacggt',
 '\tcactaatttattccatgtcacacttttcgcatctttgttatgctatggttatttcat',
 '\t\tatataaaaaagttcttgctttctaacgtgaaagtggtttaggttaaaagacatcagt',
 '\t\tcaaggtagaatgctttgccttgtcggcctgattaatggcacgatagtcgcatcggat',
 '\tggccaaaaaatatcttgtactatttacaaaacctatggtaactctttaggcattcct',
 '\ttaggcaccccaggctttacactttatgcttccggctcgtatgttgtgtggaattgtg',
 '\t\tccatcaaaaaaatattctcaacataaaaaactttgtgtaatacttgtaacgctacat',
 '\t\ttggggacgtcgttactgatccgcacgtttatgatatgctatcgtactctttagcgag',
 '\ttcagaaatattatggtgatgaactgtttttttatccagtataatttgttggcataat',
 '\t\tatatgaacgttgagactgccgctgagttatcagctgtgaacgacattctggcgtcta',
 '\t\tcgaacgagtcaatcagaccgctttgactctggtattactgtgaacattattcgtctc',
 '\t\tcaatggcctctaaacgggtcttgaggggttttttgctgaaaggaggaactatatgcg',
 '\t\tttgacctactacgccagcattttggcggtgtaagctaaccattccggttgactcaat',
 '\t\tcgtctatcggtgaacctccggtatcaacgctggaaggtgacgctaacgcagatgcag',
 '\t\tgccaatcaatcaagaacttgaagggtggtatcagccaacagcctgacatccttcgtt',
 '\t\ttggatggacgttcaacattgaggaaggcataacgctactacctgatgtttactccaa',
 '\t\tgaggtggctatgtgtatgaccgaacgagtcaatcagaccgctttgactctggtatta',
 '\t\tcgtagcgcatcagtgctttcttactgtgagtacgcaccagcgccagaggacgacgac',
 '\t\tcgaccgaagcgagcctcgtcctcaatggcctctaaacgggtcttgaggggttttttg',
 '\t\tctacggtgggtacaatatgctggatggagatgcgttcacttctggtctactgactcg',
 '\t\tatagtctcagagtcttgacctactacgccagcattttggcggtgtaagctaaccatt',
 '\t\taactcaaggctgatacggcgagacttgcgagccttgtccttgcggtacacagcagcg',
 '\t\tttactgtgaacattattcgtctccgcgactacgatgagatgcctgagtgcttccgtt',
 '\t\ttattctcaacaagattaaccgacagattcaatctcgtggatggacgttcaacattga',
 '\t\taacgagtcaatcagaccgctttgactctggtattactgtgaacattattcgtctccg',
 '\t\taagtgcttagcttcaaggtcacggatacgaccgaagcgagcctcgtcctcaatggcc',
 '\t\tgaagaccacgcctcgccaccgagtagacccttagagagcatgtcagcctcgacaact',
 '\t\tttagagagcatgtcagcctcgacaacttgcataaatgctttcttgtagacgtgccct',
 '\t\ttattcgtctccgcgactacgatgagatgcctgagtgcttccgttactggattgtcac',
 '\t\ttgctgaaaggaggaactatatgcgctcatacgatatgaacgttgagactgccgctga',
 '\t\tcatgaactcaaggctgatacggcgagacttgcgagccttgtccttgcggtacacagc',
 '\t\tttcgtctccgcgactacgatgagatgcctgagtgcttccgttactggattgtcacca',
 '\t\tcatgtcagcctcgacaacttgcataaatgctttcttgtagacgtgccctacgcgctt',
 '\t\taggaggaactacgcaaggttggaacatcggagagatgccagccagcgcacctgcacg',
 '\t\ttctcaacaagattaaccgacagattcaatctcgtggatggacgttcaacattgagga',
 '\t\ttgaagtgcttagcttcaaggtcacggatacgaccgaagcgagcctcgtcctcaatgg',
 '\t\tctatatgcgctcatacgatatgaacgttgagactgccgctgagttatcagctgtgaa',
 '\t\tgcggcagcacgtttccacgcggtgagagcctcaggattcatgtcgatgtcttccggt',
 '\t\tatccctaatgtctacttccggtcaatccatctacgttaaccgaggtggctatgtgta',
 '\t\ttggcgtctatcggtgaacctccggtatcaacgctggaaggtgacgctaacgcagatg',
 '\t\ttctcgtggatggacgttcaacattgaggaaggcataacgctactacctgatgtttac',
 '\t\ttattggcttgctcaagcatgaactcaaggctgatacggcgagacttgcgagccttgt',
 '\t\ttagagggtgtactccaagaagaggaagatgaggctagacgtctctgcatggagtatg',
 '\t\tcagcggcagcacgtttccacgcggtgagagcctcaggattcatgtcgatgtcttccg',
 '\t\tttacgttggcgaccgctaggactttcttgttgattttccatgcggtgttttgcgcaa',
 '\t\tacgctaacgcagatgcagcgaacgctcggcgtattctcaacaagattaaccgacaga',
 '\t\tggtgttttgcgcaatgttaatcgctttgtacacctcaggcatgtaaacgtcttcgta',
 '\t\taaccattccggttgactcaatgagcatctcgatgcagcgtactcctacatgaataga',
 '\t\tagacgtctctgcatggagtatgagatggactacggtgggtacaatatgctggatgga',
 '\t\ttgttgattttccatgcggtgttttgcgcaatgttaatcgctttgtacacctcaggca',
 '\t\ttgcacgggttgcgatagcctcagcgtattcaggtgcgagttcgatagtctcagagtc',
 '\t\taggcatgtaaacgtcttcgtagcgcatcagtgctttcttactgtgagtacgcaccag',
 '\t\tccgagtagacccttagagagcatgtcagcctcgacaacttgcataaatgctttcttg',
 '\t\tcgctaggactttcttgttgattttccatgcggtgttttgcgcaatgttaatcgcttt',
 '\t\ttatgaccgaacgagtcaatcagaccgctttgactctggtattactgtgaacattatt',
 '\t\tagagggtgtactccaagaagaggaagatgaggctagacgtctctgcatggagtatga',
 '\t\tgagagcatgtcagcctcgacaacttgcataaatgctttcttgtagacgtgccctacg',
 '\t\tcctcaatggcctctaaacgggtcttgaggggttttttgctgaaaggaggaactatat',
 '\t\tgtattctcaacaagattaaccgacagattcaatctcgtggatggacgttcaacattg',
 '\t\tcgcgactacgatgagatgcctgagtgcttccgttactggattgtcaccaaggcttcc',
 '\t\tctcgtcctcaatggcctctaaacgggtcttgaggggttttttgctgaaaggaggaac',
 '\t\ttaacattaataaataaggaggctctaatggcactcattagccaatcaatcaagaact']

In [17]:
# generating list of DNA sequences
sequences = list(data.loc[:, 'Sequence'])
dataset = {}

# looping through sequences and splitting into individual nucleotides
for i, seq in enumerate(sequences):
    
    # splitting into nucleotides, removing tab characters
    nucleotides = list(seq)
    nucleotides = [x for x in nucleotides if x != '\t']
    
    # appending class assignment
    nucleotides.append(classes[i])
    
    # adding to dataset
    dataset[i] = nucleotides
    
print(dataset[0])

['t', 'a', 'c', 't', 'a', 'g', 'c', 'a', 'a', 't', 'a', 'c', 'g', 'c', 't', 't', 'g', 'c', 'g', 't', 't', 'c', 'g', 'g', 't', 'g', 'g', 't', 't', 'a', 'a', 'g', 't', 'a', 't', 'g', 't', 'a', 't', 'a', 'a', 't', 'g', 'c', 'g', 'c', 'g', 'g', 'g', 'c', 't', 't', 'g', 't', 'c', 'g', 't', '+']

In [18]:
# Converting dataset into pandas DataFrame
df = pd.DataFrame(dataset)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,t,t,g,a,t,a,c,t,c,t,...,c,c,t,a,g,c,g,c,c,t
1,a,g,t,a,c,g,a,t,g,t,...,c,g,a,g,a,c,t,g,t,a
2,c,c,a,t,g,g,g,t,a,t,...,g,c,t,a,g,t,a,c,c,a
3,t,t,c,t,a,g,g,c,c,t,...,a,t,g,g,a,c,t,g,g,c
4,a,a,t,g,t,g,g,t,t,a,...,g,a,a,g,g,a,t,a,t,a

In [19]:
# transpose dataframe into correct format
df = df.transpose()
print(df.iloc[:5])

  0  1  2  3  4  5  6  7  8  9   ... 48 49 50 51 52 53 54 55 56 57
0  t  a  c  t  a  g  c  a  a  t  ...  g  c  t  t  g  t  c  g  t  +
1  t  g  c  t  a  t  c  c  t  g  ...  c  a  t  c  g  c  c  a  a  +
2  g  t  a  c  t  a  g  a  g  a  ...  c  a  c  c  c  g  g  c  g  +
3  a  a  t  t  g  t  g  a  t  g  ...  a  a  c  a  a  a  c  t  c  +
4  t  c  g  a  t  a  a  t  t  a  ...  c  c  g  t  g  g  t  a  g  +

[5 rows x 58 columns]

In [20]:
# for clarity, i will rename the last dataframe column to class
df.rename(columns = {57: 'Class'}, inplace = True) 
df.head()

   0  1  2  3  4  5  6  7  8  9  ... 48 49 50 51 52 53 54 55 56 Class
0  t  a  c  t  a  g  c  a  a  t  ...  g  c  t  t  g  t  c  g  t     +
1  t  g  c  t  a  t  c  c  t  g  ...  c  a  t  c  g  c  c  a  a     +
2  g  t  a  c  t  a  g  a  g  a  ...  c  a  c  c  c  g  g  c  g     +
3  a  a  t  t  g  t  g  a  t  g  ...  a  a  c  a  a  a  c  t  c     +
4  t  c  g  a  t  a  a  t  t  a  ...  c  c  g  t  g  g  t  a  g     +

[5 rows x 58 columns]

In [21]:
df.columns

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,      10,      11,      12,      13,      14,      15,
            16,      17,      18,      19,      20,      21,      22,      23,
            24,      25,      26,      27,      28,      29,      30,      31,
            32,      33,      34,      35,      36,      37,      38,      39,
            40,      41,      42,      43,      44,      45,      46,      47,
            48,      49,      50,      51,      52,      53,      54,      55,
            56, 'Class'],
      dtype='object')

In [22]:
# So far looking good! Now we will start to familiarize ourself with the dataset so we can pick the most suitable 
# algorithms for this data

df.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,Class
count,106,106,106,106,106,106,106,106,106,106,...,106,106,106,106,106,106,106,106,106,106
unique,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,2
top,t,a,a,c,a,a,a,a,a,a,...,c,c,c,t,t,c,c,t,t,+
freq,38,34,30,30,36,42,38,34,33,36,...,36,42,31,33,35,32,29,29,34,53

In [23]:
# desribe does not gives enough information since the attributes are text. So recording value counts for each sequence
series = []
for name in df.columns:
    series.append(df[name].value_counts())
    
info = pd.DataFrame(series)
details = info.transpose()
print(details)

      0     1     2     3     4     5     6     7     8     9  ...    48  \
t  38.0  26.0  27.0  26.0  22.0  24.0  30.0  32.0  32.0  28.0  ...  21.0
c  27.0  22.0  21.0  30.0  19.0  18.0  21.0  20.0  22.0  22.0  ...  36.0
a  26.0  34.0  30.0  22.0  36.0  42.0  38.0  34.0  33.0  36.0  ...  23.0
g  15.0  24.0  28.0  28.0  29.0  22.0  17.0  20.0  19.0  20.0  ...  26.0
+   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
-   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN

     49    50    51    52    53    54    55    56  Class
t  22.0  23.0  33.0  35.0  30.0  23.0  29.0  34.0    NaN
c  42.0  31.0  32.0  21.0  32.0  29.0  29.0  17.0    NaN
a  24.0  28.0  27.0  25.0  22.0  26.0  24.0  27.0    NaN
g  18.0  24.0  14.0  25.0  22.0  28.0  24.0  28.0    NaN
+   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   53.0
-   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   53.0

[6 rows x 58 columns]

In [24]:
# Unfortunately, we can't run machine learning algorithms on the data in 'String' formats. As a result, we need to switch
# it to numerical data. This can easily be accomplished using the pd.get_dummies() function
numerical_df = pd.get_dummies(df)
numerical_df.iloc[:5]

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,Class_+,Class_-
0,0,0,0,1,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
1,0,0,0,1,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0

In [25]:
# Dropping one of the class columns and then renaming the other to simply 'Class'.
df = numerical_df.drop(columns=['Class_-'])

df.rename(columns = {'Class_+': 'Class'}, inplace = True)
df.head()

,0_a,0_c,0_g,0_t,1_a,1_c,1_g,1_t,2_a,2_c,...,54_t,55_a,55_c,55_g,55_t,56_a,56_c,56_g,56_t,Class
0,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,1
1,0,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1

## Step 3: Training and Testing the Classification Algorithms

Now that we have preprocessed the data and built our training and testing datasets, we can start to deploy different classification algorithms. It's relatively easy to test multiple models; as a result, we will compare and contrast the performance of ten different algorithms.

In [26]:
# From the dataset, we can start building algorithms! We'll need to import each algorithm that we are using
# from sklearn we also need to import some performance metrics, such as accuracy_score and classification_report.

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.gaussian_process.kernels import RBF
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import classification_report, accuracy_score

In [27]:
# Using the model_selection module to separate training and testing datasets
from sklearn import model_selection

# Creating X and Y datasets for training
X = np.array(df.drop(['Class'], 1))
y = np.array(df['Class'])

# defining seed for reproducibility
seed = 1

# splitting data into training and testing datasets
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.25, random_state=seed)

In [34]:
# Define scoring method
scoring = 'accuracy'


# Defining models to train
names = ['K Nearest Neighbors', 'Gaussian Process', 'Decision Tree', 'Random Forest', 'Neural Net', 'AddaBoost', 'Naive Bayes', 'SVM Linear', 'SVM RBF', 'SVM Sigmoid']

Classifiers = [
    KNeighborsClassifier(n_neighbors = 3),
    GaussianProcessClassifier(1.0*RBF(1.0)),
    DecisionTreeClassifier(max_depth = 5),
    RandomForestClassifier(max_depth = 5, n_estimators = 10, max_features = 1 ),
    MLPClassifier(alpha = 1),
    AdaBoostClassifier(),
    GaussianNB(),
    svm.SVC(kernel = 'linear'),
    svm.SVC(kernel = 'rbf'),
    svm.SVC(kernel = 'sigmoid')
    
    ]

models = zip(names, Classifiers)
# import KFold
from sklearn.model_selection import KFold, cross_val_score

# evaluating each model in turn
names = []
result = []

for name, model in models:
    kfold = KFold(n_splits = 10, random_state = 1)
    cv_results = cross_val_score(model, X_train, y_train, cv = kfold, scoring = 'accuracy')
    result.append(cv_results)
    names.append(name)
    msg = "{0}: {1} ({2})".format(name, cv_results.mean(), cv_results.std())
    print(msg)

K Nearest Neighbors: 0.8232142857142858 (0.11390841738440759)
Gaussian Process: 0.8732142857142857 (0.05615780426255853)
Decision Tree: 0.6839285714285714 (0.2175422196883602)
Random Forest: 0.6232142857142857 (0.18305966742222243)
Neural Net: 0.875 (0.09682458365518543)
AddaBoost: 0.9125 (0.1125)
Naive Bayes: 0.8375 (0.1375)
SVM Linear: 0.85 (0.10897247358851683)
SVM RBF: 0.7375 (0.11792476415070755)
SVM Sigmoid: 0.5696428571428571 (0.1592092225048921)

## Step 4 : Model Evaluation

Now we will evaluate our classification algorithms using accuracy score and classification report.

In [35]:
# Checking how well our algorithms can generalize to new data.
# To test this, making predictions on the validation dataset.

models = zip(names, Classifiers)
for name, model in models:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(name)
    print(accuracy_score(y_test, predictions))
    print(classification_report(y_test, predictions))
    
# Accuracy - ratio of correctly predicted observation to the total observations. 
# Precision - (false positives) ratio of correctly predicted positive observations to the total predicted positive observations
# Recall (Sensitivity) - (false negatives) ratio of correctly predicted positive observations to the all observations in actual class - yes.
# F1 score - F1 Score is the weighted average of Precision and Recall. Therefore, this score takes both false positives and false

K Nearest Neighbors
0.7777777777777778
              precision    recall  f1-score   support

           0       1.00      0.65      0.79        17
           1       0.62      1.00      0.77        10

    accuracy                           0.78        27
   macro avg       0.81      0.82      0.78        27
weighted avg       0.86      0.78      0.78        27

Gaussian Process
0.8888888888888888
              precision    recall  f1-score   support

           0       1.00      0.82      0.90        17
           1       0.77      1.00      0.87        10

    accuracy                           0.89        27
   macro avg       0.88      0.91      0.89        27
weighted avg       0.91      0.89      0.89        27

Decision Tree
0.7407407407407407
              precision    recall  f1-score   support

           0       1.00      0.59      0.74        17
           1       0.59      1.00      0.74        10

    accuracy                           0.74        27
   macro avg       0.79      0.79      0.74        27
weighted avg       0.85      0.74      0.74        27

Random Forest
0.5555555555555556
              precision    recall  f1-score   support

           0       0.86      0.35      0.50        17
           1       0.45      0.90      0.60        10

    accuracy                           0.56        27
   macro avg       0.65      0.63      0.55        27
weighted avg       0.71      0.56      0.54        27

Neural Net
0.8888888888888888
              precision    recall  f1-score   support

           0       1.00      0.82      0.90        17
           1       0.77      1.00      0.87        10

    accuracy                           0.89        27
   macro avg       0.88      0.91      0.89        27
weighted avg       0.91      0.89      0.89        27

AddaBoost
0.8518518518518519
              precision    recall  f1-score   support

           0       1.00      0.76      0.87        17
           1       0.71      1.00      0.83        10

    accuracy                           0.85        27
   macro avg       0.86      0.88      0.85        27
weighted avg       0.89      0.85      0.85        27

Naive Bayes
0.9259259259259259
              precision    recall  f1-score   support

           0       1.00      0.88      0.94        17
           1       0.83      1.00      0.91        10

    accuracy                           0.93        27
   macro avg       0.92      0.94      0.92        27
weighted avg       0.94      0.93      0.93        27

SVM Linear
0.9629629629629629
              precision    recall  f1-score   support

           0       1.00      0.94      0.97        17
           1       0.91      1.00      0.95        10

    accuracy                           0.96        27
   macro avg       0.95      0.97      0.96        27
weighted avg       0.97      0.96      0.96        27

SVM RBF
0.7777777777777778
              precision    recall  f1-score   support

           0       1.00      0.65      0.79        17
           1       0.62      1.00      0.77        10

    accuracy                           0.78        27
   macro avg       0.81      0.82      0.78        27
weighted avg       0.86      0.78      0.78        27

SVM Sigmoid
0.4444444444444444
              precision    recall  f1-score   support

           0       1.00      0.12      0.21        17
           1       0.40      1.00      0.57        10

    accuracy                           0.44        27
   macro avg       0.70      0.56      0.39        27
weighted avg       0.78      0.44      0.34        27

## Conclusion :

#### <i>From above report, Support Vector Machine with 'linear' kernel performed best with F1_score  = 0.96 on testing data.</i>